<%= form_tag atualizar_partidas_path, :method => 'post', :id => "form_partidas", :remote => true do %>
  <% if campeonato.finished? %>

    <% campeonato.pontoscorridos_partidas.includes(:player1, :player2).each do |partida| %>
      <div class="row">
        <div class="col-md-5 text-right">
          <%= partida.player1.user.name %>
          <%= image_tag(partida.player1.user.link_photo, width: "35px", height: "35px", class: "img-circle") %>
        </div>
        <div class="col-md-2 text-center">
          <%= partida.score_player1 %> &nbsp; <i class="glyphicon glyphicon-remove"></i> &nbsp; <%= partida.score_player2 %>
        </div>
        <div class="col-md-5 text-left">
          <%= image_tag(partida.player2.user.link_photo, width: "35px", height: "35px", class: "img-circle")%>
          <%= partida.player2.user.name %>
        </div>
      </div>
    <% end %>

  <% else %>

    <% campeonato.pontoscorridos_partidas.includes(:player1, :player2).each do |partida| %>
      <div class="row">
        <div class="col-md-4 text-right">
          <%= partida.player1.user.name %>
          <%= image_tag(partida.player1.user.link_photo, width: "35px", height: "35px", class: "img-circle") %>
        </div>
        <div class="col-md-4 text-center nopadding">
          <div class="col-md-5 text-center">
            <%= number_field_tag("[score_player1]["+partida.id.to_s+"]", partida.finished ? partida.score_player1 : nil,  max: 99, min: 0, class: "number-field") %>
          </div>
          <div class="col-md-2 text-center nopadding">
            <i class="glyphicon glyphicon-remove"></i>
          </div>
          <div class="col-md-5 text-center">
            <%= number_field_tag("[score_player2]["+partida.id.to_s+"]", partida.finished ? partida.score_player2 : nil, max: 99, min: 0, class: "number-field") %>
          </div>
        </div>
        <div class="col-md-4 text-left">
          <%= image_tag(partida.player2.user.link_photo, width: "35px", height: "35px", class: "img-circle")%>
          <%= partida.player2.user.name %>
        </div>
      </div>
    <% end %>

  <% end %>

  <% if campeonato.finished? == false %>
    <div class="row padding-height text-center">
      <div class="col-md-12">
        <%= submit_tag("Atualizar Resultados", class: "btn btn-warning") %>
      </div>
    </div>
  <% end %>

<% end %>
