<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Meus campeonatos</h2>
            </div>
            <div class="panel-body">

                <% if current_user.championships.size == 0 %>

                    :( Você ainda não criou nenhum campeonato...<br><br>

                <% else %>

                    <table class="table table-hover">
                        <tbody>
                        <% current_user.championships.each do |campeonato| %>
                            <tr>
                                <td>
                                    <%= link_to championship_path(campeonato.id) do %>
                                        <i class="glyphicon glyphicon-king"></i>
                                    <% end %>
                                    <%= link_to campeonato.name, championship_path(campeonato.id) %>
                                </td>
                            </tr>
                        <% end %>
                        </tbody>
                    </table>

                <% end %>

                <%= link_to new_championship_path, class: "btn btn-warning" do %>
                    <i class="glyphicon glyphicon-plus-sign"></i> Novo campeonato
                <% end %>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Campeonatos que eu participo</h2>
            </div>
            <div class="panel-body">

                <% if @championships.size == 0 %>

                    :( Ninguém te convidou pra jogar...<br><br>

                <% else %>

                    <table class="table table-hover">
                        <tbody>
                        <% @championships.each do |campeonato| %>
                            <tr>
                                <td>
                                    <%= link_to championship_path(campeonato.id) do %>
                                        <i class="glyphicon glyphicon-queen"></i>
                                    <% end %>
                                    <%= link_to championship_path(campeonato.id) do %>
                                        <%= campeonato.name.force_encoding("UTF-8") %>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                        </tbody>
                    </table>
                <% end %>

            </div>
        </div>
    </div>
</div>
