<div class="row">

  <div class="col-md-5">

    <legend>
      <%= @championship.name %>
    </legend>

    <p>
      <strong>Jogo: </strong> <%= @championship.game %><br>
      <strong>Período: </strong> <%= @championship.starts_at.strftime("%d/%m/%Y") %> a <%= @championship.ends_at.strftime("%d/%m/%Y") %><br>
      <strong>Tipo de campeonato: </strong> <%= @championship.championship_type.title %>
      <% if @championship.finished? %>
      <br>
      <hr>
      <strong>Vencedor: </strong> <%= User.find_by_id(@championship.winner).name %>
      <% end %>
    </p>
    <p>
      <%= link_to championships_path, class: "btn btn-warning" do %>
      <i class="glyphicon glyphicon-menu-left"></i> Voltar
      <% end %>

      <% if !@championship.finished? %>
      <%= link_to championship_finish_path, class: "btn btn-warning", :method => :post do %>
      <i class="glyphicon glyphicon-king"></i> Encerrar campeonato
      <% end %>
      <% end %>
    </p>

    <!-- <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Participantes</h2>
      </div>
      <div class="panel-body">
        <% # render partial: 'participants', locals: {participants: @participants} %>
      </div>
    </div> -->

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Resultados</h2>
      </div>

      <div class="panel-body">
        <%= render partial: 'partial_results', locals: {campeonato: @championship, finished: @championship.finished?} %>
      </div>
    </div>

  </div>

  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Partidas</h2>
      </div>
      <div class="panel-body" id="partidas">
        <%= render partial: 'atualizar_partidas', locals: {campeonato: @championship, finished: @championship.finished?} %>
      </div>
    </div>
  </div>

</div>
