<div class="row">

    <div class="col-md-5">
        
        <legend>
            <%= @championship.name %>
        </legend>
        
        <p>
            <strong>Jogo: </strong> <%= @championship.game %><br>
            <strong>Período: </strong> <%= @championship.starts_at.strftime("%d/%m/%Y") %> a <%= @championship.ends_at.strftime("%d/%m/%Y") %><br>
            <strong>Tipo de campeonato: </strong> <%= @championship.championship_type.title %>
            <% 
            finished = false
            if @championship.winner != nil 
                finished = true
            %>
                <br>
                <hr>
                <strong>Vencedor: </strong> <%= User.find_by_id(@championship.winner).name %>
            <% end %>
        </p>
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Participantes</h2>
            </div>
            
            <div class="panel-body">
                <table class="table table-hover">
                    <tbody>
                        <% @participants.each do |participante| %>
                            <tr>
                                <% img_link = participante.user.link_photo %>
                                
                                <% if img_link == nil %>
                                    <% img_link = 'old_logo.png' %>
                                <% end %>
                                
                                <td><%= image_tag(img_link, width: "35px", height: "35px", class: "img-circle") %> &nbsp; <%= participante.user.name %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        
        <%= link_to championships_path, class: "btn btn-warning" do %>
            <i class="glyphicon glyphicon-menu-left"></i> Voltar
        <% end %>
        
        <% if finished == false %>
            <%= link_to championship_finish_path, class: "btn btn-warning", :method => :post do %>
                <i class="glyphicon glyphicon-king"></i> Encerrar campeonato
            <% end %>
        <% end %>
        
    </div>

    <div class="col-md-7">
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Resultados</h2>
            </div>
            <div class="panel-body" id="partidas">
                <%= render partial: 'atualizar_partidas', locals: {championship: @championship } %>
            </div>
        </div>
        
    </div>

</div>

<!--CAIO: CODIGO COMENTADO PORQUE O DE CIMA JA SUPRE ESSA NECESSIDADE
<div>
    <% if @games_unfinished != nil and @games_unfinished.size != 0 %>
        <div class="col-md-7">
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Partidas não realizadas</h2>
            </div>
            <div class="panel-body">
                <% @games_unfinished.each do |game| %>
                    <%= User.find_by_id(Participant.find_by_id(game.player1).user_id).name + " x " + User.find_by_id(Participant.find_by_id(game.player2).user_id).name %><br>
                <% end %>
            </div>
        </div>
        
    </div>
    <% end %>
</div>-->