<%= bootstrap_devise_error_messages! %>
	<script>
		
		$(document).ready(function(){
			$(".navbar").css("margin", "0");
			$(".container").css("margin", "0");
			$(".container").css("padding", "0");
			$(".container").css("width", "100%");
			$(".container").css("position", "relative");
			$(".container").css("overflow", "hidden");
			var screenheight = $(document).height();
			$(".homediv").css("height",screenheight);
			$(".homediv").css("overflow", "hidden");
			$("#links_home").css("position", "absolute");
			$("#links_home").css("margin-top", "8%");
			$("#pretohomediv").css("background-color", "rgba(0, 0, 0, 0.9)");
		});
	</script>
		<div class="homediv">
				<div class="homediv" id="imaghomediv">
					<div class="homediv" id="pretohomediv">
						<div class="homediv">
						  <h4><%= t('.forgot_your_password', default: 'Forgot your password?') %></h4>
              <div class="panel panel-default devise-bs" id="panel_increver">
                <div class="panel-body">
                  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: "form" }) do |f| %>
                    <div class="form-group">
                      <%= f.label :email %>
                      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
                    </div>
              
                    <%= f.submit t('.send_me_reset_password_instructions', default: 'Send me reset password instructions'), class: 'btn btn-primary  btn-orange' %>
                  <% end %>
                </div>
              </div>
              <%= render 'devise/shared/links' %>
           </div>
				</div>
			</div>
		</div>