<div class="well">
  <%= form_tag interests_path, method: :get do %>
    <div class='row'>
      <div class="col-sm-4">
        <%= text_field_tag(:by_format, params[:by_format], placeholder: 'Formato', class: 'form-control') %>
      </div>
      <div class="col-sm-4">
        <%= text_field_tag(:by_local, params[:by_local], placeholder: 'Local', class: 'form-control') %>
      </div>
      <div class="col-sm-4">
        <%= submit_tag "Filtrar", class: "btn btn-primary pull-right" %>
      </div>
    </div>

  <% end %>
</div>

<table class="table">

  <thead>
    <th>Jogador</th>
    <th>Formato</th>
    <th>Local</th>
    <th>Data e Hora</th>
  </thead>

  <tbody>
    <% @interests.each do |interest| %>
      <tr>
        <th><%= interest.user.name %></th>
        <th><%= interest.format %></th>
        <th><%= interest.local %></th>
        <th><%= interest.datetime %></th>
      </tr>
    <% end %>
  </tbody>

</table>
